##
## Ignored Files
## 

# Engine Folders
build/
build-*/
out/
bin/
obj/
x64/
x86/

# C++ Compiler Output
*.o
*.obj
*.pch
*.gch
*.ipch
*.ilk
*.pdb
*.idb
*.tlog
*.exp

# Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Other IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Claude Cache Files
.claude/

##
## Un-Ignored Files
##

## Premake Executable
!premake/premake5.exe